@charset "utf-8";@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fruktur&family=Irish+Grover&display=swap');
@font-face {
            font-family: face;
            src: url();
        }
        
         :root {
            --color0: rgb(30, 155, 103);
            --color1: rgb(95, 187, 95);
            --color2: rgba(41, 95, 41, 0.89);
            --color3: rgb(68, 169, 209);
            --color4: rgb(187, 158, 95);
            --color5: rgb(95, 146, 187);
            --color6: rgb(47, 49, 47);
            --color7: rgb(130, 95, 187);
            --color8: rgb(184, 95, 187);

            --default_font: arial, verdana, Helvetica, Sans-Serif;
            --draft_font: font-family: 'Fruktur', cursive;
            --draft_font: font-family: 'Irish Grover', cursive;
        }
        
        * {
            margin: 0px;
            padding: 0px;
        }
        
        body {
            background-color: var(--cor0);
            font-family: var(--fonte-padrao);
        }
        
        header {min-width: 150px;
     text-align: center;
    padding-top: 40px;}
        
        footer {}