@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fruktur&family=Irish+Grover&display=swap');
@font-face {
    font-family: face;
    src: url();
}
        
:root {
    --color0: #624393;
    --color1: rgb(95, 187, 95);
    --color2: rgba(41, 95, 41, 0.89);
    --color3: rgb(68, 169, 209);
    --color4: rgb(187, 158, 95);
    --color5: rgb(95, 146, 187);
    --color6: rgb(47, 49, 47);
    --color7: rgb(130, 95, 187);
    --color8: rgb(184, 95, 187);

    --default_font: Arial, Verdana, Helvetica, Sans-Serif;
    --f_draft_font: font-family: 'Fruktur', cursive;
    --irish_font: font-family: 'Irish Grover', cursive;
}
        
* {
    margin: 0px;
    padding: 0px;
}
        
body {
    background-image: linear-gradient(to left, var(--color5),var(--color7));
    font-family: var(--fonte-padrao);
}
        
header {
    min-width: 150px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

header > h1{
    font-family: var(--draft_font);
       
}

nav{
    padding: 15px;
    padding-bottom: 10px;
    box-shadow: 0px 7px 7px rgb(226, 15, 15);
}

nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

nav >a:hover{
    background-image: linear-gradient(to right,var(--color0), var(--color8));
    color: rgb(60, 241, 136);
    border-radius: 10px;
    transition: 3s;
}

main{
    background-color: beige;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px var(--color8);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
  
footer{
    background-image: linear-gradient(to bottom, var(--color5), var(--color7));
    font-family:'Franklin Gothic Medium';
}

.default-foot > footer {
    
    text-align: center;
    padding-bottom: 10px;
    padding: 5px;
    font-weight: bold;
    color: white;
    font-size: 0.8em;
    box-shadow: 0px 0px 10px rgba(211, 188, 214, 0.89);
}