@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fruktur&family=Irish+Grover&display=swap');
@font-face {
    font-family: face;
    src: url();
}
        
:root {
    --color0: #624393;
    --color1: rgb(95, 187, 95);
    --color2: rgba(41, 95, 41, 0.89);
    --color3: rgb(68, 169, 209);
    --color4: rgb(187, 158, 95);
    --color5: rgb(95, 146, 187);
    --color6: rgb(47, 49, 47);
    --color7: rgb(130, 95, 187);
    --color8: rgb(184, 95, 187);

    --default_font: Arial, Verdana, Helvetica, Sans-Serif;
    --f_draft_font: font-family: 'Fruktur', cursive;
    --irish_font: font-family: 'Irish Grover', cursive;
}
        
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to left, var(--color5),var(--color7));
    font-family: var(--fonte-padrao);
}
        
header {
    min-width: 150px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

header > h1{
    font-family: var(--draft_font);
       
}

.restrict > a{
  padding: 0 10px 10px;
  background-color: white;
}

nav{
    padding: 15px;
    padding-bottom: 10px;
    box-shadow: rgb(226, 15, 15);
}

nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

nav >a:hover{
    background-image: linear-gradient(to right,var(--color0), var(--color8));
    color: rgb(60, 241, 136);
    border-radius: 10px;
    transition: 3s;
}

main{
    background-color: beige;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px var(--color8);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
  
footer{
    background-image: linear-gradient(to bottom, var(--color5), var(--color7));
    font-family:'Franklin Gothic Medium';
}

.default-foot > footer {
    
    text-align: center;
    padding-bottom: 10px;
    padding: 5px;
    color: white;
    font-size: 0.8em;
    box-shadow: 0px 0px 10px rgba(211, 188, 214, 0.89);
}

/* Configurações de Layout de sessão para Form */

.auth-page{
    overflow: hidden;
    background-color: #7159c1;
    font-family: Roboto, Arial, sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-section{
    text-align: center;

  }
  
  form {
    margin: 20px 0;
    background-image: linear-gradient(to top, var(--color0), var(--color6));
    padding: 30px 25px;
    border-radius: 5px;
  }
  
  form .input-block {
    margin-bottom: 20px;
  }
  
  form .input-block label {
    font-size: 14px;
    color: white;
    font-weight: bold;
  }
  
  form .input-block input {
    width: 100%;
    display: block;
    margin-top: 8px;
    padding: 7px;
    font-size: 16px;
    color: #7159c1;
    border-radius: 2px;
    border: 1px solid #ccddef;
    outline-color: #7159c1;
  }
  
  form .btn-login {
    font-family: com;
    display: block;
    min-width: 120px;
    border: none;
    font-weight: bold;
    background-color: #7159c1;
    color: white;
    border-radius: 25px;
    margin: auto;
    padding: 7px;
  }
  

/*
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

  }

  form {
    margin: 20px 0;
    background-image: linear-gradient(to top, var(--color0), var(--color4));
    padding: 30px 25px;
    border-radius: 5px;
  }
  
  form .input-block {
    margin-bottom: 20px;
  }
  
  form .input-block label {
    font-size: 14px;
    color: darkslateblue;
  }

  form .input-block input {
    width: 100%;
    display: block;
    margin-top: 8px;
    padding: 7px;
    font-size: 16px;
    color: #7159c1;
    border-radius: 2px;
    border: 1px solid #ccddef;
    outline-color: #7159c1;
  }
  
  form .btn-login {
    display: block;
    min-width: 120px;
    border: none;
    background-color: #7159c1;
    color: white;
    border-radius: 25px;
    margin: auto;
    padding: 7px;
  }
*/
/* Animação do Form */

@keyframes fade{
  from{
      opacity: 0;
      transform: scale(0.9);
  }
  to{
  opacity: 1;
  transform: scale(1);
  }
}

@keyframes move {
  from{
      opacity: 0;
      transform: translateX(-35%);
  }
  to{
      opacity: 1;
      transform: translateX(0%);
  }    
}

@keyframes down {
from{
  transform: translateY(0);
}
to{
  transform: translateY(100vh);
}
}

@keyframes emptyfield {
0%, 100% {
  transform: translateX(0);
}
35% {
  transform: translateX(-15%);
}
70% {
  transform: translateX(15%);
}
}

@keyframes upside {
  from{
    opacity: 0;
    transform: translateY(0);
  }
  50%{
    opacity: 1;
  }
  to{
    transform: translateY(-800px) rotate(960deg);
  }
  
}

form{
    overflow: hidden ;
    animation-name: fade 200ms;
}


form .input-block:nth-child(1){
    animation-name: move;
    animation-duration: 400ms;
    animation-delay: 100ms;
}

form .input-block:nth-child(2){
    animation-name: move;
    animation-duration: 400ms;
    animation-delay: 550ms;
    animation-fill-mode: backwards;
}
form .btn-login{
    animation-name: move;
    animation-duration: 500ms;
    animation-delay: 0.25s;
    animation-fill-mode: backwards;
}

.form-hide{
  animation: down 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

form.validate-error {
  animation: emptyfield 500ms linear, fade paused;
  animation-iteration-count: 2;
}
.squares li{
    width: 20px;
    height: 20px;
    background-color: #3e325eaf;
    display: block;
    position: absolute;
    bottom: -40px;
    animation: upside 2s infinite alternate;
    z-index: -1;
  }
